!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %link{:href => "assets/img/apple-icon.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Remooont - дизайн, интерьер, дизайн-студия, дизайн-проект, квартира, ремонт, планировка, ремонт квартиры, строительные планы, Новая Рига
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no", :name => "viewport"}/
    / Fonts and icons
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700,200", :rel => "stylesheet"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.0.10/css/all.css", :rel => "stylesheet"}/
    / CSS Files
    %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/now-ui-kit.css?v=1.2", :rel => "stylesheet"}/
    %link{:href => "assets/css/custom.css?v=3.1", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css", :rel => "stylesheet"}/
  %body.profile-page
    / Navbar
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-light.fixed-top.navbar-transparent
      %a.navbar-brand{:href => "#"}
      %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav
          %li.nav-item.active
            %a.nav-link{:href => "#portfolio", :rel => "external"} Работы
          %li.nav-item
            %a.nav-link{:href => "#pricing", :rel => "external"} Цены
          %li.nav-item
            %a.nav-link{:href => "#about", :rel => "external"} О нас
          %li.nav-item
            %a.nav-link{"data-placement" => "bottom", :href => "https://www.instagram.com/remooont/", :target => "_blank", :title => "Follow us on Instagram"}
              %i.fab.fa-instagram
          %li.nav-item
            %a.nav-link{"data-placement" => "bottom", :href => "tel:+79030063336", :title => "Call us"}
              %span.align-top +7 (903) 006-333-6
    .wrapper
      .page-header
        .page-header-image{"data-parallax" => "false", :style => "background-image: url('assets/img/pk2-1-0.jpg');"}
        .container
          .content-center
            %img.w-100.logo{:src => "assets/img/logo.png"}/
      #portfolio.section
        %h3.title.text-warning.text-center.mb-5 Работы
        .row.no-gutters
          .col-12.col-md-10.col-lg-8.portfolio-item
            .row.no-gutters
              .col-12.col-sm-8
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/pk-1-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/pk-2-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/pk-3-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/pk-4-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/pk-5-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/pk2-1-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/pk2-2-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/pk2-3-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/p2-1-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/p2-2-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/p2-3-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/p2-4-0.jpg"}/
                  .swiper-button-prev
                  .swiper-button-next
              .col-12.col-sm-4.text-center.text-sm-right
                %h4.mt-1.mb-0.mr-2.pl-3.portfolio-category Проекты под ключ
        .row.no-gutters.margin-y
          .col-md-2.col-lg-4
          .col-12.col-md-10.col-lg-8.portfolio-item
            .row.no-gutters
              .col-12.col-sm-8
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/redo-8-0.jpg"}/
                      .caption СПАЛЬНЯ ПОСЛЕ
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/redo-1-0.jpg"}/
                      .caption ГОСТИНАЯ ДО
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/redo-2-0.jpg"}/
                      .caption ГОСТИНАЯ ПОСЛЕ
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/redo-3-0.jpg"}/
                      .caption КУХНЯ ДО
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/redo-4-0.jpg"}/
                      .caption КУХНЯ ПОСЛЕ
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/redo-5-0.jpg"}/
                      .caption ПРИХОЖАЯ ДО
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/redo-6-0.jpg"}/
                      .caption ПРИХОЖАЯ ПОСЛЕ
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/redo-7-0.jpg"}/
                      .caption СПАЛЬНЯ ДО
                  .swiper-button-prev
                  .swiper-button-next
              .col-12.col-sm-4.text-center.text-sm-left.order-sm-first
                %h4.mt-1.mb-0.ml-2.portfolio-category Преображение интерьера
        .row.no-gutters.margin-y
          .col-12.col-md-10.col-lg-8.portfolio-item
            .row.no-gutters
              .col-12.col-sm-8.border.border-secondary
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/b-1-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/b-2-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/b-3-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/b-4-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/b-5-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/b-6-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/b-7-0.jpg"}/
                    .swiper-slide
                      %img.d-block.w-100{:src => "assets/img/b-8-0.jpg"}/
                  .swiper-button-prev.control-black
                  .swiper-button-next.control-black
              .col-12.col-sm-4.text-center.text-sm-right
                %h4.mt-1.mb-0.mr-2.portfolio-category Рабочие чертежи
      #pricing.section.pb-2
        %h3.title.text-warning.text-center Цены
        .row.no-gutters
          .col-md-4.text-center.mt-4.mb-5
            %h4.mt-0.mb-0.pricing-heading Планировочное
            %h4.mt-0.mb-2.pricing-heading решение
            %p.mb-0.price до 70 м<sup>2</sup> - 29 900 р. / объект
            %p.mb-2.price от 70 м<sup>2</sup> - 39 900 р. / объект
            %button.btn.btn-warning.orange-button{"data-target" => "#modal-1", "data-toggle" => "modal", :type => "button"} ПОДРОБНЕЕ
            #modal-1.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    %h5#modal-1Label.modal-title Планировочное решение
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span ×
                  .modal-body.text-left
                    %p Выезд на замер
                    %p План фактических замеров
                    %p Работа с опросником
                    %p Планировочное решение с расстановкой мебели (3 варианта)
                    %p Итоговое планировочное решение
                    %p
                      %span Бонус: 
                      планировка кухни
          .col-md-4.text-center.mt-4.mb-5
            %h4.mt-0.mb-0.pricing-heading Строительный
            %h4.mt-0.mb-2.pricing-heading альбом
            %p.mb-2.price 1 500 р. / м<sup>2</sup>
            %button.btn.btn-warning.orange-button{"data-target" => "#modal-2", "data-toggle" => "modal", :type => "button"} ПОДРОБНЕЕ
            #modal-2.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    %h5#modal-2Label.modal-title Строительный альбом
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span ×
                  .modal-body.text-left
                    %p Выезд на замер
                    %p План фактических замеров
                    %p Работа с опросником
                    %p Планировочное решение с расстановкой мебели (3 варианта)
                    %p Итоговое планировочное решение
                    %p Планировка кухни
                    %p План возведения перегородок
                    %p План напольных покрытий и теплых полов
                    %p Проектирование потолков
                    %p План осветительных приборов
                    %p План электророзеток и слаботочных сетей
                    %p План сантехнических приборов с привязками
                    %p Раскладка плитки
                    %p Ведомость отделочных материалов необходимых для закупки
                    %p
                      %span Бонус: 
                      стилистический коллаж
          .col-md-4.text-center.mt-4.mb-5
            %h4.mt-0.mb-0.pricing-heading Полный
            %h4.mt-0.mb-2.pricing-heading дизайн-проект
            %p.mb-2.price 2 500 р. / м<sup>2</sup>
            %button.btn.btn-warning.orange-button{"data-target" => "#modal-3", "data-toggle" => "modal", :type => "button"} ПОДРОБНЕЕ
            #modal-3.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    %h5#modal-1Label.modal-title Полный дизайн-проект
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span ×
                  .modal-body.text-left
                    %p Выезд на замер
                    %p План фактических замеров
                    %p Работа с опросником
                    %p Планировочное решение с расстановкой мебели (3 варианта)
                    %p Итоговое планировочное решение
                    %p Планировка кухни
                    %p План возведения перегородок
                    %p План напольных покрытий и теплых полов
                    %p Проектирование потолков
                    %p План осветительных приборов
                    %p План электророзеток и слаботочных сетей
                    %p План сантехнических приборов с привязками
                    %p Раскладка плитки
                    %p Ведомость отделочных материалов необходимых для закупки
                    %p Стилистический коллаж
                    %p Спецификация по мебели и предметам интерьера
                    %p Колористическое решение
                    %p Фотореалистическое изображение будущего интерьера
                    %p Ведомость черновых материалов
                    %p Чертежи нетиповых деталей и узлов
                    %p 3 выезда в магазины для подбора материалов
                    %p
                      %span Бонус: 
                      фотосессия готового интерьера
        .row.no-gutters
          .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4.text-center.my-4.pl-1.pr-1
            %h4.mt-3.mb-2.pricing-heading Опционально
            %table.table.table-sm.options-table
              %tbody.price
                %tr
                  %td 3D-визуализация
                  %td.text-right.text-nowrap.align-bottom 4 990 р.
                %tr
                  %td Авторский надзор
                  %td.text-right.text-nowrap.align-bottom 5 000 р. / выезд
                %tr
                  %td Технический надзор
                  %td.text-right.text-nowrap.align-bottom 5 000 р. / выезд
                %tr
                  %td Выезд с заказчиком в магазины
                  %td.text-right.text-nowrap.align-bottom 5 000 р. / выезд
                %tr
                  %td Ландшафтный дизайн
                  %td.text-right.text-nowrap.align-bottom договорная
                %tr
                  %td Получение разрешений
                  %td.text-right.text-nowrap.align-bottom договорная
      #about.section
        .container-fluid
          %h3.title.text-warning.mb-3 О компании Remooont
          %h5.description.mb-0 Remooont является современной проектной организацией, которая использует самые передовые методы и технологии. Наш опыт позволяет нам выполнить большие объемы работ любой степени сложности в кратчайшие сроки.
      %footer.footer
        .container
          .row
            .col-12.col-sm-8.text-center.text-sm-left
              %ul.list-inline
                %li.list-inline-item
                  %a.nav-link{"data-placement" => "bottom", :href => "https://www.instagram.com/remooont/", :target => "_blank", :title => "Follow us on Instagram"}
                    %i.fab.fa-instagram
                %li.list-inline-item
                  %a.nav-link{"data-placement" => "bottom", :href => "tel:+79030063336", :title => "Call us"}
                    %span.align-top +7 (903) 006-333-6
            .col-12.col-sm-4.text-center.text-sm-right
              %p.my-auto © 2018 Remooont

  / Core JS Files
  %script{:src => "assets/js/core/jquery-2.1.0.min.js", :type => "text/javascript"}
  %script{:src => "assets/js/core/jquery.mobile-1.4.5.min.js", :type => "text/javascript"}
  %script{:src => "assets/js/core/popper.min.js", :type => "text/javascript"}
  %script{:src => "assets/js/core/bootstrap.min.js?v=1.0", :type => "text/javascript"}
  / Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc
  %script{:src => "assets/js/now-ui-kit.js?v=1.1.0", :type => "text/javascript"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"}
  / Custom script
  %script{:src => "assets/js/custom.js?v=1.2", :type => "text/javascript"}
  / Global site tag (gtag.js) - Google Analytics
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-114971342-1"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114971342-1');
