body, .section {
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif; }

.description {
  color: #fff;
  font-size: 22px;
  line-height: 36px; }

.thumbnail {
  position: relative; }

.caption {
  color: white;
  width: 200px;
  position: absolute;
  top: 85%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.card-pricing {
  border: 1px solid #a79999; }
  .card-pricing ul {
    padding-left: 0;
    list-style: none; }
    .card-pricing ul li {
      border-bottom: 1px solid rgba(136, 136, 136, 0.3);
      padding: 12px 0; }
      .card-pricing ul li:last-child {
        border: 0; }

.card-pricing-dark {
  color: #FFF;
  background-color: #a79999; }
  .card-pricing-dark h6 {
    color: #FFF; }
  .card-pricing-dark ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

#carousel {
  border-bottom: solid 1px #868e96;
  padding: 0; }

.carousel-inner {
  box-shadow: none !important; }

.navbar {
  padding-top: 10px !important; }

.navbar-logo {
  width: 130px; }

.navbar-transparent .navbar-logo {
  width: 0; }

.no-big-logo.navbar-transparent .navbar-logo {
  width: 130px; }

.logo {
  max-width: 35rem; }

.navbar.navbar-transparent #layer101 {
  fill: #fff; }

.navbar.navbar-transparent .navbar-toggler-bar {
  background: #fff; }

.blueprint-carousel {
  padding: 0; }

.control-black.carousel-control-prev, .control-black.carousel-control-next {
  width: 10% !important;
  color: #000; }

.blueprint-wrapper {
  margin-top: 62px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-shadow: none; }

.navbar.navbar-transparent {
  color: #fff !important;
  border-bottom: none; }

.navbar.navbar-transparent .nav-link {
  color: #fff !important; }

.navbar.navbar-transparent.navbar-blueprint {
  background-color: #000 !important; }

table tr th, table tr td {
  text-align: center; }
  table tr th:first-child, table tr td:first-child {
    text-align: left; }

.card-title {
  margin-bottom: 0; }

.section {
  padding-top: 10px;
  padding-bottom: 0; }

.footer {
  margin-top: 70px;
  margin-bottom: 15px;
  padding: 0 !important; }

a.navbar-brand svg {
  vertical-align: middle; }

.page-header .container > .content-center {
  max-width: none; }

.navbar .navbar-nav .nav-link:not(.btn) {
  font-size: 16px; }

.footer .copyright {
  font-size: inherit; }

.footer.footer-default {
  background-color: #000; }

.table td.narrow {
  padding-left: 3px;
  padding-right: 3px;
  font-family: "Arial Narrow", Arial, sans-serif; }

.table td, .table th {
  border-top: 1px solid #494949; }

.table tr:last-child td {
  border-bottom: 1px solid #494949; }

.footer-fa {
  font-size: 1.5em; }

.footer-links, .copyright {
  margin-top: 5px; }

.fixed-top {
  position: absolute !important; }

h3, .h3 {
  font-size: 3em !important; }

.portfolio-item {
  background-color: #fff;
  padding: 10px !important; }

.portfolio-category {
  color: #000 !important;
  font-weight: bold;
  font-size: 2em;
}

.margin-y {
  margin-top: 70px;
  margin-bottom: 60px; }

#pricing {
  background-color: #181818; }

.pricing-heading {
  color: #fff !important;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1em; }

.price {
  font-size: 18px; }

.orange-button {
  font-size: 14px;
  font-weight: 400;
  color: #000 !important; }

.options-table td {
  border: none !important; }

.footer ul li a, .footer p {
  font-size: 16px !important; }

.footer p {
  margin-bottom: 0;
  height: 40px;
  line-height: 40px; }

.modal-content {
  background-color: #333333; }

.modal-title {
  font-weight: bold;
  font-size: 24px;
  color: #FFB236;
  margin-right: 25px; }

.modal .modal-header .close {
  color: #fff; }

.modal-body {
  padding-top: 10px !important; }

.modal-body p {
  margin-bottom: 10px;
  line-height: 14px; }

.modal-body p span {
  color: #FFB236; }

.carousel-caption {
  padding-bottom: 10px; }
  .carousel-caption p {
    font-size: 18px; }

.control-black.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.control-black.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

.ui-loader {
  display: none; }

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
